Troy Morgan  
Week 8 Instructor-Led Lab  
BGEN 632, Graduate Introduction to Python  
Submitted April 21, 2025  

Instructor-led Lab: Advanced Data Manipulation

# Sorting and Ordering Data

In [2]:
## Imports
import os
import numpy as np
import pandas as pd

In [7]:
# Set working directory and confirm.
os.chdir("\\Users\\troy.morgan\\Documents\\GitHub\\week8labs/data")  
os.getcwd()

'C:\\Users\\troy.morgan\\Documents\\GitHub\\week8labs\\data'

In [8]:
# Import data
github_teams = pd.read_csv("github_teams.csv")

## Select the columns `Team_type`, `human_work`, and `work_per_human`.

In [9]:
# Select using .filter() and quick inspect using .head()
(github_teams
 .filter(["Team_type", "human_work", "work_per_human"])
 .head()
)

   Team_type  human_work  work_per_human
0  human-bot          66       33.000000
1      human          62       31.000000
2      human         211       30.142857
3  human-bot       14579       62.303419
4  human-bot        1625       42.763158

## Select columns that end in the letter `t`. Use the regex `t$`.

In [11]:
# Select columns using .filter() and regex = t$.
(github_teams
 .filter(regex = "t$")
 .head()
)

,human_members_count,bot_members_count,human_PRReviewComment,bot_PRReviewComment,issues_count
0,2,1,4,0,8.0
1,2,0,0,0,NaN
2,7,0,1,0,46.0
3,234,12,1170,0,4757.0
4,38,8,152,0,777.0

## Sort your data descending using the columns `Team_size_class`, `human_work`, `work_per_human`.

In [14]:
# Sort data using .sort_values() using ascending = False to sort descending. 
(github_teams
 .sort_values(by = ["Team_size_class", "human_work", "work_per_human"], ascending = False)
)

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
559,WLaEz_1Nf-YWzHZa8bBgAA/pLoAhZ1cbPT38VYoSdXGmg,human,Small,3,0,3040,1013.333333,0.292105,434,2606,0,0,0,0,0,0,0,3.0,365.0
209,eIPosZ68E2LjtaixYK65EQ/0Rp6D1ZR1w4YspfD1H-PfA,human-bot,Small,3,1,1639,546.333333,0.413260,1114,283,223,19,156,0,156,0,0,21.0,204.0
410,pxIFRbeuXsUzHtQB3vDwVA/JlkO4fgLE3bD5QjXcU-0CQ,human-bot,Small,3,1,913,304.333333,0.549836,130,507,271,5,53,0,53,0,0,50.0,108.0
268,hXoZRbHPbVxh--funPXSiw/iNU0l_SpKVjGfHOp8vUt8w,human-bot,Small,2,2,910,455.000000,0.065934,207,369,334,0,114,0,114,0,0,4.0,64.0
603,zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A,human-bot,Small,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,7Xep-tc_sXRqdGZ18-MUog/m4gKCZYLclV3PlKDdogc7w,human,Large,9,0,57,6.333333,0.475634,57,0,0,0,0,0,0,0,0,NaN,NaN
564,WMMEJn_D7axJ01w5Xw-8Dw/O8KdDIC1elOLPB08sR2lNw,human-bot,Large,7,1,53,7.571429,0.463612,23,22,8,0,8,2,6,0,0,NaN,NaN
165,bxLD_LudiJ8mO7AZa8QgwQ/9LZ8c1ynzo_ohr4eRwcdcg,human,Large,8,0,51,6.375000,0.517157,51,0,0,0,0,0,0,0,0,NaN,NaN
562,WMMEJn_D7axJ01w5Xw-8Dw/7F60C3mR08-_sYUM_MNHtA,human-bot,Large,7,1,38,5.428571,0.300752,31,6,1,0,11,6,5,0,0,NaN,NaN
292,ilEEnZRNdUqNk7tvvGBo1Q/8xHANrgyHiFV3TuhcqwrpQ,human,Large,8,0,14,1.750000,0.250000,14,0,0,0,0,0,0,0,0,NaN,NaN

## Select `human-bot` teams that have a `bot_members_count` value greater than and equal to 3.

In [15]:
# Select using .query() with two expressions combined with &. 
(github_teams
 .query("Team_type == 'human-bot' & bot_members_count >= 3")
)

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
3,_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA,human-bot,Large,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g,human-bot,Large,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
89,5Is-_ie16OEGmW1arZm8qg/8UeSk2P76pTG7pPLtxsHTQ,human-bot,Large,17,4,7412,436.000000,0.439621,4182,1257,1917,56,358,5,202,151,0,2.0,495.0

## Find the `human` teams that are `Large` and have a `human_gini` value greater than and equal to 0.75.

In [49]:
# Select using .query() with three expressions combined with &. 
(github_teams
 .query("Team_type == 'human' & Team_size_class == 'Large' & human_gini >= 0.75")
)

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
138,ASYGR96YA91p3z7MNKjZCA/IB2pZ8ygcvNnlxUdysjSFA,human,Large,12,0,1655,137.916667,0.799446,793,684,178,0,0,0,0,0,0,4.0,190.0
285,IiUao8vA_zm_uEIVVLI-Sw/91ya8vlSP8qgwCllH_6BSw,human,Large,25,0,3599,143.960000,0.863507,1249,2350,0,0,0,0,0,0,0,0.0,1245.0
505,uLHPO58cQefwrJUbyhYOKQ/7YWOP8uDEeKDHQMWKqOoYA,human,Large,48,0,5748,119.750000,0.782040,1715,3891,142,0,0,0,0,0,0,0.0,1200.0
582,y8Jw59EHVSrsluSuhR5okg/V5vb074jNkzg4YCKforX1Q,human,Large,8,0,277,34.625000,0.781137,275,2,0,0,0,0,0,0,0,NaN,NaN

# How many teams are in the `Small` or `Large` category?

In [36]:
# Use .query() to get the rows with the 'Small' or 'Large" categories. The answer is 428!
(github_teams
 .query("Team_size_class == 'Large' | Team_size_class == 'Small'")
)

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
0,_1bqaxzCk0sfQaunsjeViQ/RCEZ3CASdLXbstu9y2JQ7Q,human-bot,Small,2,1,66,33.000000,0.287879,29,33,4,0,43,0,43,0,0,87.0,8.0
1,_9o07rGiC7DFyi-zm91Q0g/VOgMsrjYEwFAq0BY8kHqGQ,human,Small,2,0,62,31.000000,0.467742,62,0,0,0,0,0,0,0,0,NaN,NaN
2,_DzK53uaZXnAX3WcC0W28g/Epc4QWw5PNBQIIdvopEHDA,human,Large,7,0,211,30.142857,0.499661,194,16,1,0,0,0,0,0,0,37.0,46.0
3,_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA,human-bot,Large,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g,human-bot,Large,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,zPjKmela4b_-cQYzslpJLQ/Y8b87jxGXuKYhNDrcC5AuA,human,Large,11,0,851,77.363636,0.267279,740,111,0,0,0,0,0,0,0,3.0,22.0
602,zro7Xud3Xy2f5CjF55l_jA/GChw8QQ_KUPepXGZGDWicQ,human-bot,Small,2,1,39,19.500000,0.397436,39,0,0,0,15,0,15,0,0,NaN,NaN
603,zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A,human-bot,Small,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN
604,zUBexdmYylGGpxiebXm6gg/sJXD2kulWzU35ijdY3SnBQ,human,Small,2,0,63,31.500000,0.436508,63,0,0,0,0,0,0,0,0,NaN,NaN
607,ZX09uvu0z_JVPVI-XrPniQ/pxiuGX_R6QI2Euvx2GFIFw,human-bot,Small,2,1,57,28.500000,0.043860,32,24,1,0,8,3,4,1,0,5.0,26.0

In [41]:
# The output tells us the number of rows. We could also use the len() function to count the rows.
len(github_teams
 .query("Team_size_class == 'Large' | Team_size_class == 'Small'")
)

428

## How many teams are in the `Small` or `Large` category with a `human_gini` value less than and equal to 0.25?

In [45]:
# Use .query() to get the rows with the 'Small' or 'Large" categories (grouped with parentheses) and human_gini <= 0.25. The answer is 89!
# Note - I knew the 'Large' and 'Small' expressions needed to be grouped in some way to make the logic work here. I tried brackets and curly brackets first, but
# those didn't work. Parentheses for the win! I hope I did this correctly. 
(github_teams
 .query("(Team_size_class == 'Large' | Team_size_class == 'Small') & human_gini <= 0.25")
)

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
13,-m9ya9ka2XQnLuxs55JE2A/49VEwDhZmHQYriyiDG3eSg,human,Small,3,0,120,40.000000,0.227778,120,0,0,0,0,0,0,0,0,NaN,NaN
24,0Jb-T8Py7O9d0fsJhO-Fpw/0ZyiRbLUtWP4uU0481CrcA,human-bot,Small,2,1,69,34.500000,0.239130,0,15,54,0,58,37,21,0,0,NaN,NaN
25,0Jb-T8Py7O9d0fsJhO-Fpw/9CTgx1gdJFtNJTvxhIZZUA,human-bot,Small,2,1,8,4.000000,0.125000,6,1,1,0,13,13,0,0,0,NaN,NaN
26,0Jb-T8Py7O9d0fsJhO-Fpw/D-kWwOGGgx1lyqq0SaB3Hg,human-bot,Small,2,1,2,1.000000,0.000000,2,0,0,0,69,40,29,0,0,NaN,NaN
27,0Jb-T8Py7O9d0fsJhO-Fpw/Fiq28J6fBxWRHY488lzXjw,human-bot,Small,3,1,35,11.666667,0.133333,19,4,12,0,28,21,7,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,xWubIgj2VILg4snlrzsM4w/UalqK3B7G5LNe6qRInBKHw,human,Small,3,0,46,15.333333,0.231884,46,0,0,0,0,0,0,0,0,NaN,NaN
591,z4XnuVnYDsJq2Kh10c6RSQ/GwurdQHVdJIEVr1-nwzeQQ,human,Small,2,0,47,23.500000,0.074468,30,15,2,0,0,0,0,0,0,NaN,NaN
598,zdGIfGigrvjugcDMrntSeA/djHSoRCz0x72XAy7M0faVA,human,Small,2,0,86,43.000000,0.011628,32,54,0,0,0,0,0,0,0,NaN,NaN
599,zDxFw19WoS8GFVmQGJXQCw/xsTexXJ1UlUoG5F8Lns-7A,human-bot,Large,59,1,198,3.355932,0.189009,114,82,2,0,9,3,5,1,0,0.0,10.0
607,ZX09uvu0z_JVPVI-XrPniQ/pxiuGX_R6QI2Euvx2GFIFw,human-bot,Small,2,1,57,28.500000,0.043860,32,24,1,0,8,3,4,1,0,5.0,26.0

In [42]:
# We could also use the len() function to count the rows.
len(github_teams
 .query("(Team_size_class == 'Large' | Team_size_class == 'Small') & human_gini <= 0.25")
)

89

## How many `human` teams are in the `Medium` category?

In [46]:
# Use .query() to get the rows with Team_type == 'human' and Team_size_class == 'Medium'. The answer is 96!
(github_teams
 .query("Team_type == 'human' & Team_size_class == 'Medium'")
)

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
8,_yD8m1Di58SxsWVtbFs8qA/-UAPBK3VxONRihRwJV8rbQ,human,Medium,5,0,219,43.800000,0.222831,219,0,0,0,0,0,0,0,0,NaN,NaN
20,0_i2yUqqQXqOqRd8kyC-pQ/yrrxKjGqkqQ9S6ELsPmmCw,human,Medium,4,0,57,14.250000,0.355263,54,3,0,0,0,0,0,0,0,NaN,NaN
46,2B7IxtFwGYG8romCC5DROw/JWHcllSwE7P2HpW1xjcQ6Q,human,Medium,6,0,191,31.833333,0.506981,95,84,12,0,0,0,0,0,0,9.0,50.0
47,2bL_hc3RIUujEgCYopaKRQ/lj0G1E2S6gy_t3ZRgMccyg,human,Medium,4,0,67,16.750000,0.414179,27,16,24,0,0,0,0,0,0,NaN,NaN
53,3fa6t1_rA76z0ctbksVa4g/GfIwhFCOo1NjJHOk2LzVRQ,human,Medium,4,0,164,41.000000,0.585366,163,1,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,xUHitt6_tbQU1U9fKA_JBg/FijNnq1-psXPKK1HqWOjag,human,Medium,4,0,70,17.500000,0.100000,70,0,0,0,0,0,0,0,0,NaN,NaN
584,yLydVqZyxRsGHiWGJ3t0rg/LBTLKUJrYdX511Nj-t1U-A,human,Medium,4,0,37,9.250000,0.304054,33,4,0,0,0,0,0,0,0,NaN,NaN
600,ZPbZUFullnQ00GjBX1RaUQ/fR24eYhOcMGsDUKZIYFXeg,human,Medium,6,0,14,2.333333,0.190476,13,1,0,0,0,0,0,0,0,NaN,NaN
605,zVSBi-iRKCzLiqFwVt6hbg/8SfUBIOeWUjDoQxeUCX7wQ,human,Medium,5,0,26,5.200000,0.446154,19,5,2,0,0,0,0,0,0,NaN,NaN
606,zVSBi-iRKCzLiqFwVt6hbg/fm_lDWwc8Uu-aZ24BjUNZg,human,Medium,5,0,13,2.600000,0.246154,8,4,1,0,0,0,0,0,0,8.0,10.0

In [48]:
# Again, we could also use the len() function to count the rows.
len(github_teams
 .query("Team_type == 'human' & Team_size_class == 'Medium'")
)

96

## Save the columns `Team_size_class` and `work_per_human` as a new DataFrame.

In [53]:
# Select columns using .filter() and save as new DataFrame.
new_df = (github_teams
 .filter(["Team_size_class", "work_per_human"])
)

# Show our work:
new_df

    Team_size_class  work_per_human
0             Small       33.000000
1             Small       31.000000
2             Large       30.142857
3             Large       62.303419
4             Large       42.763158
..              ...             ...
603           Small      285.000000
604           Small       31.500000
605          Medium        5.200000
606          Medium        2.600000
607           Small       28.500000

[608 rows x 2 columns]

## Rename these two columns in the new DataFrame. Change `human_gini` to `work_inequality` and `eval_survival_day_median` to `issue_resolution_time`.

In [54]:
# Do you mean "Rename these two columns in _a_ new DataFrame"? That is what I am going with here...
# Use .rename() to rename columns and save as a new DataFrame.
new_df_2 = (github_teams
        .rename(columns={'human_gini':'work_inequality', 
                         'eval_survival_day_median':'issue_resolution_time'})
       )

new_df_2

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,work_inequality,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,issue_resolution_time,issues_count
0,_1bqaxzCk0sfQaunsjeViQ/RCEZ3CASdLXbstu9y2JQ7Q,human-bot,Small,2,1,66,33.000000,0.287879,29,33,4,0,43,0,43,0,0,87.0,8.0
1,_9o07rGiC7DFyi-zm91Q0g/VOgMsrjYEwFAq0BY8kHqGQ,human,Small,2,0,62,31.000000,0.467742,62,0,0,0,0,0,0,0,0,NaN,NaN
2,_DzK53uaZXnAX3WcC0W28g/Epc4QWw5PNBQIIdvopEHDA,human,Large,7,0,211,30.142857,0.499661,194,16,1,0,0,0,0,0,0,37.0,46.0
3,_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA,human-bot,Large,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g,human-bot,Large,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A,human-bot,Small,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN
604,zUBexdmYylGGpxiebXm6gg/sJXD2kulWzU35ijdY3SnBQ,human,Small,2,0,63,31.500000,0.436508,63,0,0,0,0,0,0,0,0,NaN,NaN
605,zVSBi-iRKCzLiqFwVt6hbg/8SfUBIOeWUjDoQxeUCX7wQ,human,Medium,5,0,26,5.200000,0.446154,19,5,2,0,0,0,0,0,0,NaN,NaN
606,zVSBi-iRKCzLiqFwVt6hbg/fm_lDWwc8Uu-aZ24BjUNZg,human,Medium,5,0,13,2.600000,0.246154,8,4,1,0,0,0,0,0,0,8.0,10.0
607,ZX09uvu0z_JVPVI-XrPniQ/pxiuGX_R6QI2Euvx2GFIFw,human-bot,Small,2,1,57,28.500000,0.043860,32,24,1,0,8,3,4,1,0,5.0,26.0