Troy Morgan  
Week 8 Instructor-Led Lab  
BGEN 632, Graduate Introduction to Python  
Submitted April 21, 2025  

Instructor-led Lab: Advanced Data Manipulation

# Sorting and Ordering Data
**** Select the columns `Team_type`, `human_work`, and `work_per_human`.
**** Select columns that end in the letter `t`. Use the regex `t$`.
* Sort your data descending using the columns `Team_size_class`, `human_work`, `work_per_human`.
* Select `human-bot` teams that have a `bot_members_count` value greater than and equal to 3.
* Find the `human` teams that are `Large` and have a `human_gini` value greater than and equal to 0.75.
* How many teams are in the `Small` or `Large` category?
* How many teams are in the `Small` or `Large` category with a `human_gini` value less than and equal to 0.25?
* How many `human` teams are in the `Medium` category?
* Save the columns `Team_size_class` and `work_per_human` as a new DataFrame.
* Rename these two columns in the new DataFrame. Change `human_gini` to `work_inequality` and `eval_survival_day_median` to `issue_resolution_time`.

In [8]:
## Imports
import os
import numpy as np
import pandas as pd

In [18]:
# Set working directory and confirm.
os.chdir("/Users/troybert/Documents/GitHub/week8labs/data")  
os.getcwd()

'/Users/troybert/Documents/GitHub/week8labs/data'

In [20]:
# Import data
github_teams = pd.read_csv("github_teams.csv")

## Select the columns `Team_type`, `human_work`, and `work_per_human`.

In [22]:
# Select using .filter() and quick inspect using .head()
(github_teams
 .filter(["Team_type", "human_work", "work_per_human"])
 .head()
)

   Team_type  human_work  work_per_human
0  human-bot          66       33.000000
1      human          62       31.000000
2      human         211       30.142857
3  human-bot       14579       62.303419
4  human-bot        1625       42.763158

## Select columns that end in the letter `t`. Use the regex `t$`.

In [26]:
# Select using .filter()  and regular expression. 
(github_teams
 .filter(regex = "t$")
)

,human_members_count,bot_members_count,human_PRReviewComment,bot_PRReviewComment,issues_count
0,2,1,4,0,8.0
1,2,0,0,0,NaN
2,7,0,1,0,46.0
3,234,12,1170,0,4757.0
4,38,8,152,0,777.0
...,...,...,...,...,...
603,3,1,373,0,NaN
604,2,0,0,0,NaN
605,5,0,2,0,NaN
606,5,0,1,0,10.0
607,2,1,1,1,26.0

## Sort your data descending using the columns `Team_size_class`, `human_work`, `work_per_human`.

In [30]:
# Sort using .sort_values()
github_teams.sort_values(by = ["Team_size_class", "human_work", "work_per_human"], ascending = False)

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
559,WLaEz_1Nf-YWzHZa8bBgAA/pLoAhZ1cbPT38VYoSdXGmg,human,Small,3,0,3040,1013.333333,0.292105,434,2606,0,0,0,0,0,0,0,3.0,365.0
209,eIPosZ68E2LjtaixYK65EQ/0Rp6D1ZR1w4YspfD1H-PfA,human-bot,Small,3,1,1639,546.333333,0.413260,1114,283,223,19,156,0,156,0,0,21.0,204.0
410,pxIFRbeuXsUzHtQB3vDwVA/JlkO4fgLE3bD5QjXcU-0CQ,human-bot,Small,3,1,913,304.333333,0.549836,130,507,271,5,53,0,53,0,0,50.0,108.0
268,hXoZRbHPbVxh--funPXSiw/iNU0l_SpKVjGfHOp8vUt8w,human-bot,Small,2,2,910,455.000000,0.065934,207,369,334,0,114,0,114,0,0,4.0,64.0
603,zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A,human-bot,Small,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,7Xep-tc_sXRqdGZ18-MUog/m4gKCZYLclV3PlKDdogc7w,human,Large,9,0,57,6.333333,0.475634,57,0,0,0,0,0,0,0,0,NaN,NaN
564,WMMEJn_D7axJ01w5Xw-8Dw/O8KdDIC1elOLPB08sR2lNw,human-bot,Large,7,1,53,7.571429,0.463612,23,22,8,0,8,2,6,0,0,NaN,NaN
165,bxLD_LudiJ8mO7AZa8QgwQ/9LZ8c1ynzo_ohr4eRwcdcg,human,Large,8,0,51,6.375000,0.517157,51,0,0,0,0,0,0,0,0,NaN,NaN
562,WMMEJn_D7axJ01w5Xw-8Dw/7F60C3mR08-_sYUM_MNHtA,human-bot,Large,7,1,38,5.428571,0.300752,31,6,1,0,11,6,5,0,0,NaN,NaN
292,ilEEnZRNdUqNk7tvvGBo1Q/8xHANrgyHiFV3TuhcqwrpQ,human,Large,8,0,14,1.750000,0.250000,14,0,0,0,0,0,0,0,0,NaN,NaN