Troy Morgan  
Week 8 Instructor-Led Lab  
BGEN 632, Graduate Introduction to Python  
Submitted April 21, 2025  

Instructor-led Lab: Advanced Data Manipulation

# Sorting and Ordering Data
**** Select the columns `Team_type`, `human_work`, and `work_per_human`.
* Select columns that end in the letter `t`. Use the regex `t$`.
* Sort your data descending using the columns `Team_size_class`, `human_work`, `work_per_human`.
* Select `human-bot` teams that have a `bot_members_count` value greater than and equal to 3.
* Find the `human` teams that are `Large` and have a `human_gini` value greater than and equal to 0.75.
* How many teams are in the `Small` or `Large` category?
* How many teams are in the `Small` or `Large` category with a `human_gini` value less than and equal to 0.25?
* How many `human` teams are in the `Medium` category?
* Save the columns `Team_size_class` and `work_per_human` as a new DataFrame.
* Rename these two columns in the new DataFrame. Change `human_gini` to `work_inequality` and `eval_survival_day_median` to `issue_resolution_time`.

In [2]:
## Imports
import os
import numpy as np
import pandas as pd

In [3]:
# Set working directory and confirm.
os.chdir("\\Users\\troy.morgan\\Documents\\GitHub\\week8labs/data")  
os.getcwd()

'C:\\Users\\troy.morgan\\Documents\\GitHub\\week8labs\\data'

In [4]:
# Import data
github_teams = pd.read_csv("github_teams.csv")

## Select the columns `Team_type`, `human_work`, and `work_per_human`.

In [6]:
# Select using .filter() and quick inspect using .head()
(github_teams
 .filter(["Team_type", "human_work", "work_per_human"])
 .head()
)

   Team_type  human_work  work_per_human
0  human-bot          66       33.000000
1      human          62       31.000000
2      human         211       30.142857
3  human-bot       14579       62.303419
4  human-bot        1625       42.763158