Troy Morgan    
Week 8 Independent Lab    
BGEN 632, Graduate Introduction to Python    
Submitted April 15, 2025    

Independent Lab: Advanced Data Manipulation

In [1]:
## Imports
import os
import numpy as np
import pandas as pd

In [2]:
# Set working directory and confirm.
os.chdir("\\Users\\troy.morgan\\Documents\\GitHub\\week8labs/data")  
os.getcwd()

'C:\\Users\\troy.morgan\\Documents\\GitHub\\week8labs\\data'

In [4]:
# Import data
gh_turnover_four_projects = pd.read_csv("gh_turnover_four_projects.csv")

# Quick inspection:
gh_turnover_four_projects

,project_id,domain,language,windows,window_idx,num_team,num_commits,blau_gender,Gini_gh_ten,user_id,Core1,commits,propCommits,gender,github_tenure,leavesNextQ
0,1101,OTHER,Python,23,22,26,22688,0.000,0.422259,1614129,1,22138,0.975758,male,426,0
1,1101,OTHER,Python,23,22,26,22688,0.000,0.422259,1614101,0,124,0.005465,male,46,0
2,1101,OTHER,Python,23,22,26,22688,0.000,0.422259,94412,0,53,0.002336,male,941,1
3,1101,OTHER,Python,23,22,26,22688,0.000,0.422259,88459,0,49,0.002160,male,1870,0
4,1101,OTHER,Python,23,22,26,22688,0.000,0.422259,738787,0,45,0.001983,male,781,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,24293,DEV_FRAME,Python,24,23,12,1655,0.153,0.292578,938914,0,1,0.000604,male,326,1
469,24293,DEV_FRAME,Python,24,24,12,1224,0.000,0.229926,11648,0,1,0.000817,male,893,0
470,24293,DEV_FRAME,Python,24,24,12,1224,0.000,0.229926,179354,0,1,0.000817,male,1238,0
471,24293,DEV_FRAME,Python,24,24,12,1224,0.000,0.229926,438642,0,1,0.000817,male,1582,0
472,24293,DEV_FRAME,Python,24,24,12,1224,0.000,0.229926,5268,0,1,0.000817,male,1903,0